.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

ion-button[color="dark"] {
    text-transform: initial;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.line {
    flex: 1;
    height: 1px;
    background-color: #ccc;
}

.or {
    padding: 0 7px;
    color: #888;
    font-weight: bold;
}

.google-button {
    margin-top: 8px;
    text-transform: initial;
    font-weight: 500;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.google-logo {
    height: 20px;
    margin-right: 8px;
}

.signin-link {
    text-align: center;
    margin-top: 16px;
}

.signin {
    text-decoration: underline;
    cursor: pointer;
}