.slide-red,
.btn3-red,
.btn2-red,
.btn1-red {
    display: none;
    transition: transform 0.3s ease-out;
}

.trumpet-img {
    width: 100%;
}

.slide,
.button1,
.button2,
.button3 {
    transition: transform 0.3s ease-out;
}

.btn-pressed {
    transform: translateY(15px);
}

.slide-open {
    transform: translateX(20px);
}

.btn-red-pressed {
    display: block;
}

@media screen and (orientation: landscape) {
    .trumpet-img {
        width: 250px;
        height: auto;
    }
}