ion-modal {
  --height: auto;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 5px;
  margin: 0px 8px 0px 8px;
  border-radius: 6px 6px 0px 0px;
}

.middle {
  background-color: white;
  padding: 5px;
  margin: auto;
  border-radius: 0px 0px 6px 6px;
  display: flex;
  justify-content: center;
}

.metronome {
  grid-area: metronome;
}

.button1 {
  padding-left: 0%;
}

.metronome-bullet {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  // color: white;
  color: black;
  width: 150px;
  // aleksandra add code
  min-height: 250px;
  //aleksandra done

  /*animation*/
  // background: linear-gradient(-45deg, #fead26, #9f6a11);
  // border: 3px solid #fead26;
  background-size: 400% 400%;
  animation: gradient 2s ease infinite;
}

.wrapper {
  //background-color: red;
  width: 650px;
  height: 460px;
  overflow: hidden;
  transform-origin: top left;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.metronome-bullet h1 {
  margin: 0;
  margin-bottom: 0.2em;
  font-size: 3em;
}

.metronome-bullet h3 {
  margin: 0;
  font-size: 1em;
  text-transform: uppercase;
}

.trumpet {
  grid-area: trumpet;
  display: flex;
  padding: 1em;
  align-items: center;
  justify-content: center;
  max-width: 400px;
}

.chromatic-tuner {
  grid-area: chromatic-tuner;
  display: flex;
  padding: 1em;
  align-items: center;
  justify-content: center;
  max-width: 400px;
}

ion-segment {
  transform: scale(0.85);
  bottom: 2px;
  left: 17px;
}

ion-segment-button {
  min-width: fit-content;
}

.score {
  margin-top: -20px;
  grid-area: score;
  text-align: center;

  app-score {
    min-width: 100px;
    min-height: 100px;
    max-width: 600px;
  }
}

.bottom {
  //display: grid;
  //grid-template-columns: 1fr 1fr 1fr;
  //grid-template-rows: 1fr 1.3fr;
  //gap: 0px 0px;
  //grid-auto-flow: row;
  //grid-template-areas:
  /*    "controls controls controls"
    "controls controls controls"
    "start-stop start-stop start-stop";*/
  //grid-area: bottom;
}

.start-stop {
  grid-area: start-stop;
}

.start-btn {
  background-color: #009dda;
  border: 0;
  border-radius: 4px;
  padding: 0.6em;
  font-size: 1.1em;
  color: white;
  margin-top: 1em;
  text-transform: uppercase;
}

.start-btn:hover {
  background-color: #008dc2;
  cursor: pointer;
}

.controls {
  display: flex;
  //grid-area: controls;
  background-color: gray;
  padding: 10px;
  margin: 6px;
  border-radius: 6px;
  justify-content: center;
}

.controls button {
  /*width: 75%;*/
  font-size: 2em;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  color: #e64c4c;
}

.controls button:hover {
  color: #c73b3b;
}

.controls .tempo-wrapper button {
  color: #fead26;
}

.controls .tempo-wrapper button:hover {
  color: #ce8b1c;
}

.up-tempo,
.down-tempo,
.up-low-note,
.down-low-note,
.up-high-note,
.down-high-note {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tempo-wrapper,
.low-note-wrapper,
.high-note-wrapper {
  //flex: 1;
  //border-right: 1px solid lightgray;
  padding: 0 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.high-note-wrapper {
  border-right: 0px;
}

.start-stop button {
  width: 100%;
}

#action {
  font-size: small;
  text-align: center;
}

#trumpet-position {
  width: 100%;
}

#score-image {
  width: 100%;
  //margin: 10px;
  border-radius: 6px;
}

#low-note {
  width: 100%;
}

#high-note {
  width: 100%;
}

// aleksandra add code

@media screen and (orientation: landscape) {
  #container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transform-origin: center center;
  }

  .top-middle-container {
    width: 100%;
  }

  // .bottom {
  //   width: 50%;
  // }

  .controls {
    //flex-direction: column;
    gap: 10px;
    margin-top: 0px;
  }

  @media screen and (max-height: 600px) {
    .landscape-d-none {
      display: none;
    }
    .controls-margin {
      margin-top: 40px;
    }
    .top-middle-container {
      display: flex;
    }
  }
}
