

<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Options</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item>
        <!-- disable control when "isPlaying is true"-->
        <ion-toggle [checked]="showTrumpetHints" (ionChange)="switchTrumpetHints($event)"
          [disabled]="isPlaying()">

          Show trumpet
        </ion-toggle>
      </ion-item>

      <ion-item>
        <ion-toggle [checked]="useFlatsAndSharps" (ionChange)="switchUseFlatsAndSharps($event)" [disabled]="isPlaying()">
          <b>&flat; &amp; &sharp;</b>
        </ion-toggle>
      </ion-item>

      <ion-item>
        <ion-toggle [checked]="useDynamics" (ionChange)="switchUseDynamics($event)" [disabled]="isPlaying()">
          <b>Dynamics</b>
        </ion-toggle>
      </ion-item>

      <ion-item>
        {{firebase.group ? 'Registered with "' + firebase.group + '"&nbsp;' : ''}}
        <ion-button (click)="openRegistrationModal()">
          {{firebase.group ? 'Clear' : 'Register'}}
        </ion-button>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content" >
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        <!-- <img src="assets/images/mei-logo.png" alt="logo" class="logo logo-black">
        <img src="assets/images/mei-logo-white.png" alt="logo" class="logo logo-white"> -->
      </ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content [fullscreen]="true">
    <div id="container">
      <div class="top">
        <div class="metronome">
          <div class="metronome-bullet">
            <h1 id="metronome-label" *ngIf="beat$|async as beat">
              {{ beat.beat >= 0 ? (beat.beat + 1): '&nbsp;'}}
            </h1>
            <h3 id="action">{{currentAction}}</h3>
          </div>
        </div>
        <ng-container *ngIf="showTrumpetHints">


          <div class="trumpet">

            <img id="trumpet-position" [src]="trumpetPosition">
          </div>
        </ng-container>
      </div>

      <!--MIDDLE-->
      <div class="middle">
        <div class="score">
          <!-- <img id="score-image" [src]="scoreImage"> -->
          <app-score id="score-image" [score]="score"></app-score>
        </div>
      </div>
      <div class="bottom">
        <div class="controls">

          <!--TEMPO-->
          <div class="tempo-wrapper">
            <div class="simulate-input">
              <div class="title-section-wrapper">Tempo:</div>
              <div class="tempo" (click)="openTempoPicker()" >
                <h1>
                  &#9833;=
                  <span id="tempo">{{tempo$ | async}} bpm</span>
                </h1>
              </div>
            </div>
          </div>

          <!--LOW NOTE-->
          <div class="low-note-wrapper">
            <div class="simulate-input">
              <div class="title-section-wrapper">Lowest note:</div>
              <div 
                id="open-modal-low-note" 
                expand="block" 
                class="low-note">
                <img id="high-note" [src]="getNoteImg(lowNote)">
              </div>
              <ion-modal 
                *ngIf="!isPlaying()" 
                trigger="open-modal-low-note" 
                [canDismiss]="canDismiss" 
                [initialBreakpoint]="1"
                [breakpoints]="[0, 1]" 
                [handle]="false">
                <ng-template>
                  <scroll-image-component
                    [images]="noteImages"
                    [index]="lowNote"
                    (indexChange)="changeLowNote($event)">
                  </scroll-image-component>
                </ng-template>
              </ion-modal>
            </div>
          </div>

          <div class="high-note-wrapper">
            <div class="simulate-input">
              <div class="title-section-wrapper">Highest note:</div>
              <div 
                id="open-modal-high-note" 
                expand="block" 
                class="high-note">
                <img id="high-note" [src]="getNoteImg(highNote)">
              </div>
              <ion-modal 
                *ngIf="!isPlaying()" 
                trigger="open-modal-high-note" 
                [canDismiss]="canDismiss" 
                [initialBreakpoint]="1"
                [breakpoints]="[0, 1]" 
                [handle]="false">
                <ng-template>
                  <scroll-image-component
                    [images]="noteImages"
                    [index]="highNote"
                    (indexChange)="changeHighNote($event)">
                  </scroll-image-component>
                </ng-template>
              </ion-modal>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>

  <ion-footer >
    <ion-button (click)="startStop()" expand="block">
      {{isPlaying() ? 'Stop':'Start'}}
    </ion-button>
  </ion-footer>

</div>
