<ion-content>
  <div class="flex-center">
    <img src="assets/images/mei-logo-white.png" alt="logo" class="logo logo-white" height=100px>
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-input label="Email Address" labelPlacement="floating" type="email" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Password" labelPlacement="floating" type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
        <div class="forgot-password-container">
          <a href="#"> Forgot Password?</a>
        </div>
        <ion-button color="primary" size="full" (click)="login()">Login</ion-button>
        <div class="divider">
          <span class="line"></span>
          <span class="or">or</span>
          <span class="line"></span>
        </div>
        <ion-button color="primary" fill="clear" size="full" (click) = "navigate()">Register</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>