<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/images/mei-logo.png" alt="logo" style="max-height: 80px;">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div class="top">
      <div class="metronome">
        <div class="metronome-bullet">
          <h1 id="metronome-label">{{ beatCounter >= 0 ? (beatCounter + 1): '-'}}</h1>
          <h3 id="action">{{currentAction}}</h3>
        </div>
      </div>
      <div class="trumpet">
        <img id="trumpet-position" [src]="trumpetPosition">
      </div>
    </div>

    <!--MIDDLE-->
    <div class="middle">
      <div class="score">
        <img id="score-image" [src]="scoreImage">
      </div>
    </div>
    <div class="bottom">
      <div class="controls">

        <!--TEMPO-->
        <div class="tempo-wrapper">
          <div class="title-section-wrapper">Tempo:</div>
          <div class="tempo" (click)="openPicker('tempo')">
            <h1>
              &#9833;=
              <span id="tempo">{{tempo}} bpm</span>
            </h1>
          </div>
        </div>

        <!--LOW NOTE-->
        <div class="low-note-wrapper">
          <div class="title-section-wrapper">Lowest note:</div>
          <div class="low-note" (click)="openPicker('lowNote')">
            <img id="low-note" [src]="getNoteImg(lowNote)">
          </div>
        </div>

        <div class="high-note-wrapper">
          <div class="title-section-wrapper">Highest note:</div>
          <div class="high-note" (click)="openPicker('highNote')">
            <img id="high-note" [src]="getNoteImg(highNote)">
          </div>
        </div>
      </div>
    </div>

  </div>
</ion-content>

<ion-footer>
  <ion-button (click)="startStop()" expand="block">
    {{isPlaying ? 'Stop':'Start'}}
  </ion-button>
</ion-footer>
